* {
  font-family: sans-serif;
}

.currency-block {
  background: linear-gradient(to right, #e4d7e775, #e0f7fa, #f5eefdab);
}

.heading {
  color: #000;
}
.date-range-select{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.currency-select {
  border-color: #b9acac2e;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: #fff;

  &:focus-visible {
    outline: unset;
  }
}

select {
  background: transparent;

  &:focus-visible {
    outline: unset;
  }
}

.date-col {
  min-width: 100px;
  padding: 10px;
}

.table-responsive-wrapper {
  overflow-x: auto;
  max-width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 100%;
  border: 1px solid #0000004d;
  overflow: auto;
}

table.exchange-table {
  thead tr th {
    font-weight: 500;
    background-color: #565145;
  }
}

.table-auto {
  min-width: 100%;
}

/* Sticky columns */
.sticky-col {
  position: sticky;
  min-width: 120px;
  z-index: 2;
}

.left-col {
  left: 0;
}

.right-col {
  right: 0;
}

/* Avoid clipping by z-index */
thead .sticky-col {
  z-index: 3;
}

.footer {
  // background: linear-gradient(to right, #fff 0%, black 50%, #fff 100%);
  background: linear-gradient(to right, #fff 0%, black 50%, #fff 100%);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
}