* {
  font-family: sans-serif;
}

.heading {
  color: #000;
}

.currency-select {
  border-color: #b9acac2e;

  &:focus-visible {
    outline: unset;
  }
}

select {
  background: transparent;
  &:focus-visible {
    outline: unset;
  }
}

.date-col {
  min-width: 100px;
  padding: 10px;
}

.add-currency-button {
  margin-top: -35px;
  margin-left: 16%;
}

.table-responsive-wrapper {
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
  border: 1px solid #0000004d;
  overflow: auto;
}
.table-auto{
  min-width: 100%;
  th{
    background-color: #565145;
  }
}
/* Sticky columns */
.sticky-col {
  position: sticky;
  min-width: 120px;
  z-index: 2;
}

.left-col {
  left: 0;
}

.right-col {
  right: 0;
}

/* Avoid clipping by z-index */
thead .sticky-col {
  z-index: 3;
}